
.card {
    padding: 0px 0;
    width: 86vw;
    margin: 74px 4vw 2vh 4vw !important;
    background-color: white;
}

a:link{color:black}
a:visited{color:black}
a:active{color:black}
a:hover{color:black}
a{text-decoration:none}

.sec-title {
    padding: 20px 0;
    border:none;
    background-color: transparent;
}

.navbar {
    background-color: #ffffff;
    border: 0;
    opacity:0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #272525 !important;
}.dropdown-menu li a {
    color: rgb(65, 65, 65) !important;
}
.navbar-nav li a:hover {
    color: #000000 !important;
}.dropdown-menu li a:hover {
    background-color: blue !important;
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar * {
    outline: none !important;
}

.modal * {
    outline: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table { 
    table-layout: fixed; 
    width: 100%;
    margin-bottom: 0px !important; 
}
td{
    word-wrap:break-word;
}

h5{
    margin:0 0 15px 0;
    display:inline-block;
}