@import url('https://fonts.googleapis.com/css?family=Material+Icons');

.mi {
    font-size: 20px;
    font-family: 'Material Icons';
}

h5 .mi {
    font-size: 24px;
    font-family: 'Material Icons';
}

.brand-logo {
    font-size: 24px !important;
    margin-left: 12px !important;
}

body {
    height: calc(100vh + 8000px);
    width: 98vw;
    max-width: 100vw;
    background-color: black;
}

.scrn {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    z-index: 20;
    color: white;
}

.scrn.no {
    display: none;
}

.fulh {
    height: 100vh;
}


#cats {
    z-index: 210;
    position: absolute;
}

#cats img {
    position: fixed;
    max-height: 120px;
    max-width: 150px;
}

#cats img.h {
    max-width: 180px;
}

#main {
    position: fixed;
    top: 78px;
    overflow: scroll;
}

#cat01 {
    height: 74vh;
    width:46vw;
    padding-bottom: 24vh;
}

#event table * {
    font-size: 16px;
}

::-webkit-scrollbar { 
    display: none; 
}

#mobile {
    position: fixed;
    top: 55px;
    overflow: scroll;
}

.sidenav * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}